# PhpStorm
.idea

# Composer
vendor/

# Propel runtime config
/tests/Propel/Dszczer/ListerBundle/Base
/tests/Propel/Dszczer/ListerBundle/Map
/tests/Propel/Runtime
/tests/Propel/Migration

# Database
/tests/test.sq3

# Cache and temporary files
/tests/var/
/docs/phpdoc-cache-*